ion-header {
  ion-toolbar {
    .auth-buttons {
      ion-title {
        font-size: 15px;
        cursor: pointer;
        padding: 0;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }
}
