ion-header {
  ion-toolbar {
    .nav {
      ion-row {
        ion-col {
          width: 200px !important;
        }
      }
    }
    .auth-buttons {
      ion-title {
        font-size: 15px;
        cursor: pointer;
        padding: 0;
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }
}
